@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

:root {
  --header-height: 70px;
  --poster-width: 200px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
  position: relative;
}

body::before {
  content: ' ';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: -1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
